################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogWebAPI/.vs
/BlogWebAPI/BlogWebAPI/obj
/BlogWebAPI/Blog.Repositories/obj
/BlogWebAPI/Blog.Services/obj
