<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Im in the AppComponent</h3>
            <hr>
            <app-servers ></app-servers>
            <!-- <div app-servers></div> In case AppServers component has attribute as selector (look at the comonent's ts source code)-->
            <!-- <div class="app-servers"></div> In case AppServers component has class as selector (look at the comonent's ts source code)-->
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>
